@{
   
    ViewBag.Title = "My Home Page";

}

@model CourseProjectFinal.Services.IMyInjectedService

@section header{

<p>@Model.MyGuid</p>

}

@*@Html.TextBox(m => m.Email, new { @class = "form-control"})

<input asp-for="Email" class="form-control" />*@

<h3>My Value</h3>



