@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CourseProjectFinal.Services.IMyInjectedService

<section>
    <h1>My First ViewComponent</h1>
    <p>@Model.MyGuid</p>
</section>
